<!DOCTYPE html>
<html>
<head>
<title>Schneider</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
  <div ng-app="myApp" ng-controller="myCtrl">
<div class="container-fluid"> 

<!-- Header Section starts here-->
<header class="header_bg">
    <div class="header_left"></div>
    <div class="header_right"></div>
    <div class="container">
      <div class="logo_pharma"> <a href="index.html"><img src="images/logo.png" alt="logo"/></a> </div>
      <div class="banner_text_right"> Blockchain for Business<br>
        <b>WITH IBM BLOCKCHAIN</b> </div>
    </div>
  </header>
  <!-- Header Section ends here--> 
  
  <!-- Content Section ends here-->
  <div class="breadcrumb_main">
    <div class="left"><a href="#"><img src="images/back.png">&nbsp;Home</a></div>
    <div class="right"><a href="#"><img src="images/sign_out.png">&nbsp;Signout</a></div>
    <div class="clearfix"></div>
  </div>
  <div class="dashboard">
    <div class="dashboard_left">
      <h1>Schneider</h1>
      <div class="user"><span>Username</span>
        Cheif Supplying Officer</div>
      <div class="left_menu">
        <button class="accordion"><img src="images/icon_1.gif">&nbsp;&nbsp;Create</button>
        <div class="panel">
          <ul>
            <li><a href="schneider_purchase.html">Purchase Order</a></li>
            <li><a href="schneider_goodReceipt.html">Goods Receipt</a></li>
          </ul>
        </div>
        <button class="accordion_1" ng-click="navigate('consumption.html')"><img src="images/icon_2.gif">&nbsp;&nbsp;Consumption</button>
        <button class="accordion_1" ng-click="navigate('payment.html')"><img src="images/icon_3.gif">&nbsp;&nbsp;Payment</button>
        <button class="accordion"><img src="images/icon_4.gif">&nbsp;&nbsp;Search</button>
        <div class="panel">
          <ul>
            <li><a href="search_po.html">Purchase Order</a></li>
            <!-- <li><a href="#">Goods Receipt</a></li> -->
            <li><a href="invoice.html">Self Invoice</a></li>
          </ul>
        </div>
      </div>
      <ul class="left_submenu">
        <li><a href="schnieder_notifcations.html"><img src="images/icon_5.gif">&nbsp;&nbsp;Notification</a></li>
        <li><a href="report.html"><img src="images/icon_6.gif">&nbsp;&nbsp;Report</a></li>
      </ul>
  </div>
    <div class="dashboard_right">
      <div ng-hide="Search">
      <table>
                
        <tr ><span ng-show="Unpaid">Goods Invoice generated and Unpaid</span></tr>
                <tr ng-repeat="n in PODataUnpaid">
                      <td>Invoice No. : <a href="#"><span ng-bind="n.invoiceNo" ></span> </a> Material Code : <a href="#"><span ng-bind="n.materialCode" ></span>    </a> Invoice Status : <a href="#"><span ng-bind="n.invoiceStatus" ></span></a>  Days:  <span ng-bind="n.diffDays" ></span> </span>  Consumption Quantity <a href="#"><span ng-bind="n.consumptionQuantity" ></span></a> <a href="#"  ng-click="submit(n.invoiceNo)"><img src="images/arrow.png"></a></span></td>
                    </tr>
                 
      </table>
      <table>
              
                      <tr><span ng-show="paid">Goods Invoice generated and paid</span></tr>
                      <tr ng-repeat="m in PODataPaid">
                            <td>Invoice No. : <a href="#"><span ng-bind="n.invoiceNo" ></span></a>Material Code : <a href="#"><span ng-bind="n.materialCode" ></span> </a> Invoice Status  : <a href="#"><span ng-bind="n.invoiceStatus" ></span></a> Days:  <span ng-bind="n.diffDays" ></span> </span>    Consumption Quantity: <a href="#"><span ng-bind="n.consumptionQuantity" ></span></a> </span></td>
                          </tr>
                         
        </table>
        <table>
          
                           <tr><span ng-show="notGen">Goods greater than 90 days and Invoice not Generated</span></tr>
                            <tr ng-repeat="x in notGenerated">
                                  <td>Invoice No. : <a href="#"><span ng-bind="n.invoiceNo" ></span></a>Material Code : <a href="#"><span ng-bind="n.materialCode" ></span></a> Invoice Status : <a href="#"><span ng-bind="n.invoiceStatus" ></span></a> Days: <span ng-bind="n.diffDays" ></span> </span>    Consumption Quantity: <a href="#"><span ng-bind="n.consumptionQuantity" ></span></a> <a href="#" ng-click="generateInvoice(n.invoiceNo)"><img src="images/arrow.png"></a></span></td>
                                </tr>
          </table>
        </div>
          <div  ng-show="Search">
              <div style="text-align: center" class="alert alert-success" ng-show="sucess1">
                  {{transactionId}} 
                </div>
                <div style="text-align: center" class="alert alert-danger" ng-show="fialuier1">
                    Payment failed
                   </div>
          <div class="col-md-4">
            <label>Invoice ID</label>
            <input type="text" ng-model="invoiceId">
            <label>Amount to be paid</label>
            <input type="text" ng-model="totalPrice">
            
          </div>
          <div class="col-md-4">
            <label>Per Unit Price</label>
            <input type="text" ng-model="perUnitPrice">
          </div>
          <div class="col-md-4">
            <label>Total Quantity</label>
            <input type="text" ng-model="quantity">
          </div>
          <div class="clearfix"></div>
        <div class="submit_block"></div>
        <input type="submit" value="SUBMIT" ng-click="pay()">
      </div>
      <div  ng-show="Search1">
          <div style="text-align: center" class="alert alert-success" ng-show="sucess2">
              {{transactionId}} 
            </div>
            <div style="text-align: center" class="alert alert-danger" ng-show="fialuier3">
                Invoice generation faied
               </div>
      <div class="col-md-4">
        <label>Invoice ID</label>
        <input type="text" ng-model="invoiceId">
      </div>
      
      <div class="clearfix"></div>
    <div class="submit_block"></div>
    <input type="submit" value="SUBMIT" ng-click="generate()">
  </div>
        </div>
        <div class="clearfix"></div>
      </div>
      </div>
              
  <!-- Content Section ends here--> 
  
  <!-- Footer Section starts here-->
  <footer class="footer">©  copyright 2018</footer>
  <!-- Footer Section ends here--> 
  </div>
</div>
<script>


    var app = angular.module('myApp', []);
       
       app.controller('myCtrl',['$scope','$http','$timeout',function ($scope,$http,$timeout) {
        $scope.PODataUnpaid=[];
          $scope.notGenerated=[];
          $scope.PODataPaid=[];
          $scope.poData={}
          $scope.poData.invoiceNo=""
          $scope.poData.invoiceStatus=""
          $scope.poData.consumptionQuantity=""
          $scope.poData.diffDays=""
          $scope.poData.materialCode=""
          $scope.val="1"
          $scope.Search=false
          $scope.Search1=false
          $scope.fialuier2=false
          $scope.fialuier=false
          $scope.fialuier1=false
          $scope.BatchId=""
          $scope.PONumber=""
          $scope.LineNo=" "
          $scope.price=" "
          $scope.SEMeterialCode=" "
          $scope.POQty=" "
          $scope.UOP=" "
          $scope.DeliveryDate=" "
         $scope.Currency=" "
         $scope.deliveryNoteNo=" "
         $scope.shippmentDate=" "
         $scope.shippedQty=" "
         $scope.Unpaid=false
         $scope.notGen=false
         $scope.paid=false
         $scope.display=true
         var acc = document.getElementsByClassName("accordion");
        var i;
        $scope.CreationDate = new Date();
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          });
        }
          function init(){
          var websocket =new WebSocket("ws://ec2-35-173-231-185.compute-1.amazonaws.com:3000");
          websocket.addEventListener('open',evt =>doSocketOpen(evt));
          websocket.addEventListener('message',evt =>doSocketMessage(evt));
          websocket.addEventListener('close',evt =>doSocketClose(evt));
          }
          function doSocketClose(evt) {
          console.log('Close.');
          }
          function doSocketMessage(evt) {
            let data={}
            $scope.poData={}
          data =JSON.parse(evt.data);
          var datetime = new Date();
          console.log(datetime);
          var date1 = new Date(datetime);
        if($scope.display==true){
            $scope.poData.invoiceNo=data.invDocNum
            $scope.poData.materialCode=data.selfinvoice.materialCode
          $scope.poData.invoiceStatus=data.invoiceStatus
          if(data.selfinvoice.consumptionQuantity!=undefined)
          $scope.poData.consumptionQuantity=data.selfinvoice.consumptionQuantity
          else
          $scope.poData.consumptionQuantity=data.selfinvoice.quantity
          var date2 = new Date( data.selfinvoice.receiptDate);
          var timeDiff = Math.abs(date2.getTime() - date1.getTime());
          $scope.poData.diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
            if( $scope.poData.invoiceStatus=="Not Genetrated"){
              $scope.notGen=true
          $scope.notGenerated.push($scope.poData)
         
          } else if( $scope.poData.invoiceStatus=="Invoice Generated"){
          $scope.Unpaid=true
          $scope.PODataUnpaid.push($scope.poData)
         
          } else{
         $scope.paid=true
            $scope.PODataPaid.push($scope.poData)
          }
        }
        else{
            $scope.invoiceId=data.invDocNum
            $scope.perUnitPrice=data.amount
            if(data.selfinvoice.consumptionQuantity!=undefined)
          $scope.quantity=data.selfinvoice.consumptionQuantity
          else
          $scope.quantity=data.selfinvoice.quantity
          $scope.totalPrice=$scope.quantity*data.amount 

          }
          
          evt.data=""
          data =JSON.parse(evt.data);
          console.log(data)
          }

          function doSocketOpen(evt) {
          console.log('Open.');
          }
          init()
          var requestInfo = Request();
          var request=
                         {
                          "$class": "com.cts.ipm.p2pNetwork.displayInvoice"
                    }     
          var res = $http.post('http://ec2-35-173-231-185.compute-1.amazonaws.com:3000/api/displayInvoice',request).then(function successCallback(response){
                     $scope.update_response=response;
                     $scope.transactionId=$scope.update_response.data.transactionId
                    
                     
                 }, function errorCallback(response){
                     console.log("POST-ing of data failed");
                 });
 
           
           function Request() {
           
             return {
               "Request" : {
                "$class": "com.cts.ipm.p2pNetwork.displayInvoice"
                
               }
               }
             };     
             
             $scope.submit = function(id){
               $scope.ID=id
         $scope.setValueSearch();
         }
         $scope.setValueSearch=function() {
          $scope.display=false
           var requestSearch=
                       {
                         "$class": "com.cts.ipm.p2pNetwork.searchInvoice",
                         "invDocNum":  $scope.ID
                         
                       }
             var requestInfo = RequestSearch();
           
             data : requestInfo
         
           var res = $http.post('http://ec2-35-173-231-185.compute-1.amazonaws.com:3000/api/searchInvoice',requestSearch).then(function successCallback(response){
                   //alert("Successfully placed order");
                   $scope.update_response=response;
                   $scope.Search=true
                  
                   $scope.transactionId=$scope.update_response.data.transactionId
                   
               }, function errorCallback(response){
                 $scope.fialuier1=true
               });
         }
  
         function RequestSearch() {
         
           return {
             "Request" :   {
               "$class": "com.cts.ipm.p2pNetwork.searchInvoice",
            "invDocNum":" "
             }
           }
           };
        $scope.pay = function(){
         $scope.setValuePay();
         }
         $scope.setValuePay=function() {
           var requestPay=
                       {
                        
                        "$class": "com.cts.ipm.p2pNetwork.Payment",
                        "invDocNum":  $scope.ID
                      
                       }
             var requestInfo = RequestPay();
           
             data : requestInfo
         
           var res = $http.post('http://ec2-35-173-231-185.compute-1.amazonaws.com:3000/api/Payment',requestPay).then(function successCallback(response){
                //   alert("Successfully placed order");
                   $scope.update_response=response;
                  
                   $scope.sucess1=true
                   $scope.transactionId=$scope.update_response.data.transactionId
                   
               }, function errorCallback(response){
                 $scope.fialuier=true
               });
         }
         $scope.navigate=function(url){
          window.location = url;

        }
         function RequestPay() {
         
           return {
             "Request" : {
              "$class": "com.cts.ipm.p2pNetwork.Payment",
            "invDocNum": " " 
              }
             }
           };
          
        $scope.generate = function(id){
          $scope.invoice=id
         $scope.setValueInvoice();
         }
         $scope.setValueInvoice=function() {
           var requestInvoice=
           {
              "$class": "com.cts.ipm.p2pNetwork.generateInvoice",
              "invDocNum":    $scope.invoice,
              "selfinvoice": {
                "$class": "com.cts.ipm.p2pNetwork.SelfInvoice",
                "selfinvoice": {
                  "$class": "com.cts.ipm.p2pNetwork.newSelfInvoice",
                  "poNumber": "",
                  "lineNum": "",
                  "materialCode": "",
                  "quantity": "",
                  "UOP": "",
                  "materialDoceDate": "",
                  "consumptionQuantity": ""
                },
                "invoiceStatus": "",
                "amount": "",
                "invDocNum": " "
              }
            }

             var requestInfo = RequestInvoice();
           
             data : requestInfo
         
           var res = $http.post('http://ec2-35-173-231-185.compute-1.amazonaws.com:3000/api/generateInvoice',requestInvoice).then(function successCallback(response){
                //   alert("Successfully placed order");
                   $scope.update_response=response;
                  
                   $scope.Search1=true
                   $scope.sucess2=true
                   $scope.transactionId=$scope.update_response.data.transactionId
                   
               }, function errorCallback(response){
                 $scope.fialuier3=true
               });
         }
         $scope.navigate=function(url){
          window.location = url;

        }
         function RequestInvoice() {
         
           return {
             "Request" : {
                "$class": "com.cts.ipm.p2pNetwork.generateInvoice",
                "invDocNum": "",
                "selfinvoice": {
                  "$class": "com.cts.ipm.p2pNetwork.SelfInvoice",
                  "selfinvoice": {
                    "$class": "com.cts.ipm.p2pNetwork.newSelfInvoice",
                    "poNumber": "",
                    "lineNum": "",
                    "materialCode": "",
                    "quantity": "",
                    "UOP": "",
                    "materialDoceDate": "",
                    "consumptionQuantity": ""
                  },
                  "invoiceStatus": "",
                  "amount": "",
                  "invDocNum": " "
                }
              }

             }
           };
         }]);
</script>
</body>
</html>
