<!DOCTYPE html>
<html>
<head>
<title>Schneider</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.js"></script>
</head>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
<div class="container-fluid"> 
  
  <!-- Header Section starts here-->
  <header class="header_bg">
    <div class="header_left"></div>
    <div class="header_right"></div>
    <div class="container">
      <div class="logo_pharma"> <a href="index.html"><img src="images/logo.png" alt="logo"/></a> </div>
      <div class="banner_text_right"> Blockchain for Business<br>
        <b>WITH IBM BLOCKCHAIN</b> </div>
    </div>
  </header>
  <!-- Header Section ends here--> 
  
  <!-- Content Section ends here-->
  <div class="breadcrumb_main">
    <div class="left"><a href="#"><img src="images/back.png">&nbsp;Home</a></div>
    <div class="right"><a href="#"><img src="images/sign_out.png">&nbsp;Signout</a></div>
    <div class="clearfix"></div>
  </div>
  <div class="dashboard">
    <div class="dashboard_left">
      <h1>Schneider</h1>
      <div class="user"><span>Username</span>
        Cheif Supplying Officer</div>
      <div class="left_menu">
        <button class="accordion"><img src="images/icon_1.gif">&nbsp;&nbsp;Create</button>
        <div class="panel">
            <ul>
              <li><a href="schneider_purchase.html">Purchase Order</a></li>
              <li><a href="schneider_goodReceipt.html">Goods Receipt</a></li>
            </ul>
          </div>
          <button class="accordion_1" ng-click="navigate('consumption.html')"><img src="images/icon_2.gif">&nbsp;&nbsp;Consumption</button>
          <button class="accordion_1" ng-click="navigate('payment.html')"><img src="images/icon_3.gif">&nbsp;&nbsp;Payment</button>
          <button class="accordion"><img src="images/icon_4.gif">&nbsp;&nbsp;Search</button>
          <div class="panel">
            <ul>
              <li><a href="search_po.html">Purchase Order</a></li>
              <!-- <li><a href="#">Goods Receipt</a></li> -->
              <li><a href="invoice.html">Self Invoice</a></li>
            </ul>
          </div>
        </div>
        <ul class="left_submenu">
          <li><a href="schnieder_notifcations.html"><img src="images/icon_5.gif">&nbsp;&nbsp;Notification</a></li>
          <li><a href="report.html"><img src="images/icon_6.gif">&nbsp;&nbsp;Report</a></li>
        </ul>
    </div>
    <div class="dashboard_right">
        <h3>Purchase Order</h3>
        <div ng-hide="search">
            <div class="col-md-4">
            <label>PO Number</label>
            <input type="text" ng-model="PONumber">
            </div>
        <div class="clearfix"></div>
        <div class="submit_block"></div>
     
        <input type="submit" value="SUBMIT" ng-click="submit()">
        </div>
        <div ng-show="search">
            <div style="text-align: center" class="No order with this PO" ng-show="failuer">
                Could not ship data
              </div>
          <div class="col-md-4">
            <label>PO Number</label>
            <input type="text" ng-model="PONumber">
            <label>PO Qty</label>
            <input type="text" ng-model="POQty">
            <label>Price</label>
            <input type="text" ng-model="Price">
            <label>Supplier</label>
            <input type="text" ng-model="Supplier">
         
        </div>
        <div class="col-md-4">
          <label>Line No.</label>
          <input type="text" ng-model="LineNo">
          <label>UOP</label>
          <input type="text" ng-model="UOP">
          <label>Currency</label>
          <input type="text" ng-model="Currency">
        </div>
        <div class="col-md-4">
          <label>SE Meterial Code</label>
          <input type="text" ng-model="SEMeterialCode">
          <label>Delivery Date</label>
          <input type="date" ng-model="dateD">
          <label>Creation Date</label>
          <input type="date" ng-model="dateC">
        </div>
        
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- Content Section ends here--> 
  
  <!-- Footer Section starts here-->
  <footer class="footer">©  copyright 2018</footer>
  <!-- Footer Section ends here--> 
  </div>

</div>
<script>


    var app = angular.module('myApp', []);
       
       app.controller('myCtrl',['$scope','$http','$timeout',function ($scope,$http,$timeout) {
       
          $scope.search=false
          $scope.BatchId=""
          $scope.PONumber=""
          $scope.LineNo=" "
          $scope.price=" "
          $scope.SEMeterialCode=" "
          $scope.POQty=" "
          $scope.UOP=" "
          $scope.DeliveryDate=" "
         $scope.Currency=" "
         $scope.deliveryNoteNo=" "
         $scope.shippmentDate=" "
         $scope.shippedQty=" "
         $scope.failuer=false
         $scope.search=false
        function init(){
          var websocket =new WebSocket("ws://ec2-35-173-231-185.compute-1.amazonaws.com:3000");
          websocket.addEventListener('open',evt =>doSocketOpen(evt));
          websocket.addEventListener('message',evt =>doSocketMessage(evt));
          websocket.addEventListener('close',evt =>doSocketClose(evt));
          }
          function doSocketClose(evt) {
          console.log('Close.');
          }
          function doSocketMessage(evt) {
            let data={}
          data =JSON.parse(evt.data);
      
      
         // $scope.batchId=data.purchaseorder.creationDate
         $scope.search=true
          $scope.PONumber=data.poNumber
          $scope.LineNo=data.purchaseorder.lineNumber
          $scope.price=data.purchaseorder.price
          $scope.SEMeterialCode=data.purchaseorder.materialCode
          $scope.POQty=data.purchaseorder.quantity
          $scope.UOP=data.purchaseorder.uop
          $scope.Price=data.purchaseorder.price
          $scope.Supplier=data.purchaseorder.supplier
          $scope.POCreationDate=data.purchaseorder.creationDate
          $scope.DeliveryDate=data.purchaseorder.deliveryDate
          $scope.dateC = new Date($scope.POCreationDate); 
          $scope.dateD = new Date($scope.DeliveryDate);
         $scope.Currency=data.purchaseorder.currency
         
          
          
          evt.data=""
          data =JSON.parse(evt.data);
          console.log(data)
          }

          function doSocketOpen(evt) {
          console.log('Open.');
          }
          init()
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          });
        }
        $scope.navigate=function(url){
          window.location = url;

        }
         $scope.submit = function(){
         $scope.setValue();
         }
         $scope.setValue=function() {
         
           var request=
           {
              "$class": "com.cts.ipm.p2pNetwork.searchOrder",
              "poNumber": $scope.PONumber

                       }
             var requestInfo = Request();
           
             data : requestInfo
         
           var res = $http.post('http://ec2-35-173-231-185.compute-1.amazonaws.com:3000/api/searchOrder',request).then(function successCallback(response){
                   //alert("Successfully placed order");
                   $scope.update_response=response;
                   $scope.sucess=true
                   $scope.transactionId=$scope.update_response.data.transactionId
                   
               }, function errorCallback(response){
                 $scope.failuer=true
               });
         }
  
         function Request() {
         
           return {
             "Request" : {
              "$class": "com.cts.ipm.p2pNetwork.searchOrder",
              "poNumber": " "
               
             }
             }
           };
         }]);
</script>
</body>
</html>
